/**
 * Farben
 *
 * Farben werden über die Sass-Funktion `color($family, $variation)` angwendet:
 *
 * ```css
 * .foo {
 *     color: color('gray', 'medium');
 * }
 * ```
 *
 * <br>
 * <div class="kss-color">
 *     <div class="kss-color__fill" style="background-color: #eeeeee;"></div>
 *     `color('gray', 'light')`
 * </div>
 * <div class="kss-color">
 *     <div class="kss-color__fill" style="background-color: #425860;"></div>
 *     `color('gray', 'regular')`
 * </div>
 * <div class="kss-color">
 *     <div class="kss-color__fill" style="background-color: #3e3d3d;"></div>
 *     `color('gray', 'medium')`
 * </div>
 * <div class="kss-color">
 *     <div class="kss-color__fill" style="background-color: #2d2926;"></div>
 *     `color('gray', 'dark')`
 * </div>
 * <br>
 * <div class="kss-color">
 *     <div class="kss-color__fill" style="background-color: #c61f26;"></div>
 *     `color('red', 'regular')`
 * </div>
 * <div class="kss-color">
 *     <div class="kss-color__fill" style="background-color: #631d1f;"></div>
 *     `color('red', 'dark')`
 * </div>
 *
 * Styleguide 1.1
 */

$colors : (
    'gray': (
        'light': #f5f5f5,
        'regular': #425860,
        'medium': #3e3d3d,
        'dark': #2d2926

    ),
    'red': (
        'regular': #c61f26,
        'dark': #631d1f
    )
);


/**
 * Fonts
 *
 * Schriftfamilie | Schnitt | Sass | Beispiel
 * --- | --- | --- | ---
 * Open Sans | Regular | `$font__primary;` | <span style="font-family: 'Open Sans', sans-serif">Grumpy wizards make toxic brew for the evil Queen and Jack.</span>
 * &nbsp; | Light | `$font__primary; font-weight: 200;` | <span style="font-family: 'Open Sans', sans-serif; font-weight: 200">Grumpy wizards make toxic brew for the evil Queen and Jack.</span>
 * &nbsp; | Bold | `$font__primary; font-weight: 700;` | <span style="font-family: 'Open Sans', sans-serif; font-weight: 700">Grumpy wizards make toxic brew for the evil Queen and Jack.</span>
 * Viga | Regular | `$font__secondary; font-style: italic` | <span style="font-family: 'Viga', serif">Grumpy wizards make toxic brew for the evil Queen and Jack.</span>
 *
 * Styleguide 1.2
 */

$font__primary: 'Open Sans', sans-serif;
$font__secondary: 'Viga', serif;

// Breakpoints
$breakpoints: (
    'medium': '(min-width: 40em)',
    'large': '(min-width: 64em)',
    'xlarge': '(min-width: 90em)'
);

// Legacy
$old-ie: false !default;

// Spacings
$spacer: 20px;

// Wrapper
$wrapper__max-width: 1196px;

// Z-Index
$zi__poster__content: 1;

.kss-color {
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    text-align: center;

    &__fill {
        width:220px;
        height: 160px;
        margin-bottom: 5px;
    }
}

// html {
//     overflow: hidden;
//     height: 100%;
// }

// body {
//     height: 100%;
//     overflow: auto;
// }