/**
 * Visually Hidden
 *
 * ```markup
 * <element class="h-vh[@{breakpoint}]">
 * ```
 *
 * Markup:
 * <div class="h-vh@medium" style="background: lightblue; padding: 1em">
 *     <p>Versteck ab Breakpoint <code>medium</code></p>
 * </div>
 * <div class="h-vh@large" style="background: lightblue; padding: 1em">
 *     <p>Versteck ab Breakpoint <code>large</code></p>
 * </div>
 * <div class="h-vh@xlarge" style="background: lightblue; padding: 1em">
 *     <p>Versteck ab Breakpoint <code>xlarge</code></p>
 * </div>
 *
 *
 * Styleguide 5.1
 */
.h-vh,
%h-vh {
    position: absolute;
    left: -9999px;

    @each $name, $bp in $breakpoints {
        &\@#{$name} {
            @include bp(#{$name}) {
                position: absolute !important;
                left: -9999px !important;
            }
        }
    }
}

/**
 * Visually Unhidden
 *
 * ```markup
 * <element class="h-vuh[@{breakpoint}]">
 * ```
 *
 * Markup:
 * <div class="h-vh  h-vuh@large" style="background: lightblue; padding: 1em">
 *     <p>Sichtbar ab Breakpoint <code>large</code></p>
 * </div>
 * <div class="h-vh@medium  h-vuh@xlarge" style="background: lightblue; padding: 1em">
 *     <p>Versteck ab Breakpoint <code>medium</code>, wieder sichtbar ab <code>xlarge</code></p>
 * </div>
 *
 *
 * Styleguide 5.2
 */
.h-vuh,
%h-vuh {
    position: static;

    @each $name, $bp in $breakpoints {
        &\@#{$name} {
            @include bp(#{$name}) {
                position: static !important;
            }
        }
    }
}

/**
 * Spacer
 *
 * ```markup
 * <element class="h-sp[t|b][--{0-4}][@{breakpoint}]">
 * ```
 *
 * Markup:
 * <div class="h-sp--1" style="background: lightblue; margin-bottom: 1em">
 *     1-facher Spacer
 * </div>
 * <div class="h-sp--1  h-sp--2@medium  h-sp--0@xlarge" style="background: lightblue; margin-bottom: 1em">
 *     1-facher Spacer, 2-fach ab <code>medium</code>, 0-fach ab <code>xlarge</code>
 * </div>
 * <div class="h-spt--1" style="background: lightblue; margin-bottom: 1em">
 *     1-facher Top-Spacer
 * </div>
 * <div class="h-spt--1  h-spt--2@medium  h-spt--0@xlarge" style="background: lightblue; margin-bottom: 1em">
 *     1-facher Top-Spacer, 2-fach ab <code>medium</code>, 0-fach ab <code>xlarge</code>
 * </div>
 * <div class="h-spb--1" style="background: lightblue; margin-bottom: 1em">
 *     1-facher Bottom-Spacer
 * </div>
 * <div class="h-spb--1  h-spb--2@medium  h-spb--0@xlarge" style="background: lightblue; margin-bottom: 1em">
 *     1-facher Bottom-Spacer, 2-fach ab <code>medium</code>, 0-fach ab <code>xlarge</code>
 * </div>
 *
 * Styleguide 5.3
 */

.h-sp {
    @for $i from 0 through 4 {
        &--#{$i} {
            padding-top: $i * $spacer;
            padding-bottom: $i * $spacer;
        }
    }

    @each $name, $bp in $breakpoints {
        @for $i from 0 through 4 {
            &--#{$i} {
                &\@#{$name} {
                    @include bp(#{$name}) {
                        padding-top: $i * $spacer !important;
                        padding-bottom: $i * $spacer !important;
                    }
                }
            }
        }
    }
}

.h-spt {
    @for $i from 0 through 4 {
        &--#{$i} {
            padding-top: $i * $spacer;
            padding-bottom: 0;
        }
    }

    @each $name, $bp in $breakpoints {
        @for $i from 0 through 4 {
            &--#{$i} {
                &\@#{$name} {
                    @include bp(#{$name}) {
                        padding-top: $i * $spacer !important;
                        padding-bottom: 0 !important;
                    }
                }
            }
        }
    }
}

.h-spb {
    @for $i from 0 through 4 {
        &--#{$i} {
            padding-top: 0;
            padding-bottom: $i * $spacer;
        }
    }

    @each $name, $bp in $breakpoints {
        @for $i from 0 through 4 {
            &--#{$i} {
                &\@#{$name} {
                    @include bp(#{$name}) {
                        padding-top: 0 !important;
                        padding-bottom: $i * $spacer !important;
                    }
                }
            }
        }
    }
}

/**
 * Colors
 *
 * ```markup
 * <element class="h-[fg|bg]--{color}"> (benutzt den als default hinterlegten Wert)
 * <element class="h-[fg|bg]--{color}--{style}">
 * ```
 *
 * Markup:
 * <div class="h-fg--blue--medium" style="padding: 1em;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti qui, accusamus veritatis eveniet tenetur aperiam!</div>
  * <div class="h-bg--gray--medium  h-fg--blue--light" style="padding: 1em;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti qui, accusamus veritatis eveniet tenetur aperiam!</div>
 *
 * Styleguide 5.4
 */

.h-fg {
    @each $name, $list in $colors {
        &--#{$name} {
            @each $name, $color in $list {
                @if ($name == 'default') {
                    color: $color;
                }

                &--#{$name} {
                    color: $color;
                }
            }
        }
    }
}

.h-bg {
    @each $name, $list in $colors {
        &--#{$name} {
            @each $name, $color in $list {
                @if ($name == 'default') {
                    background-color: $color;
                }

                &--#{$name} {
                    background-color: $color;
                }
            }
        }
    }
}

/**
 * Alignment
 *
 * ```markup
 * <element class="h-align--{left|center|right}[@{breakpoint}]">
 * ```
 *
 * Markup:
 * <div class="h-align--right  h-align--center@medium  h-align--left@xlarge">
 *     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt fuga labore, nostrum, suscipit cumque culpa.</p>
 * </div>
 *
 * Styleguide 5.5
 */

.h-align--left {
    text-align: left;
}

.h-align--center {
    text-align: center;
}

.h-align--right {
    text-align: right;
}

@each $name, $bp in $breakpoints {
    .h-align--left\@#{$name} {
        @include bp(#{$name}) {
            text-align: left !important;
        }
    }

    .h-align--center\@#{$name} {
        @include bp(#{$name}) {
            text-align: center !important;
        }
    }

    .h-align--right\@#{$name} {
        @include bp(#{$name}) {
            text-align: right !important;
        }
    }
}
