<h1>Lorem ipsum dolor sit amet.</h1>
<a href="home.html">Homepage</a><br>
<a href="product-detail.html">Produktdetail</a><br>
<a href="product-overview.html">Produktübersicht</a><br>
<a href="konfigurator.html">Konfigurator</a><br>
<a href="checkout.html">Checkout</a>