/**
 * Grid-System
 *
 * <style>
 *     .example {
 *         padding: 1em;
 *         text-align: center;
 *         background-color: lightblue;
 *         font-family: monospace;
 *         font-size: 12px;
 *     }
 *     .example--nest {background-color: tan;}
 * </style>
 *
 * Styleguide 2.1
 */

/**
 * Standard
 *
 * Markup:
 * <div class="grid">
 *     <div class="grid__col  grid__col--1"><div class="example">.grid__col--1</div></div>
 *     <div class="grid__col  grid__col--2"><div class="example">.grid__col--2</div></div>
 *     <div class="grid__col  grid__col--3"><div class="example">.grid__col--3</div></div>
 *     <div class="grid__col  grid__col--4"><div class="example">.grid__col--4</div></div>
 *     <div class="grid__col  grid__col--2"><div class="example">.grid__col--2</div></div>
 * </div>
 *
 * Styleguide 2.1.1
 */

/**
 * Responsive
 *
 * Markup:
 * <div class="grid">
 *     <div class="grid__col  grid__col--6@medium  grid__col--8@large"><div class="example"></div></div>
 *     <div class="grid__col  grid__col--6@medium  grid__col--4@large"><div class="example"></div></div>
 * </div>
 *
 * Styleguide 2.1.2
 */

 /**
  * Nested
  *
  * Markup:
  * <div class="grid">
  *     <div class="grid__col  grid__col--6@medium">
  *         <div class="example">
  *             <div class="grid">
  *                 <div class="grid__col  grid__col--6@medium"><div class="example  example--nest"></div></div>
  *                 <div class="grid__col  grid__col--6@medium"><div class="example  example--nest"></div></div>
  *             </div>
  *         </div>
  *     </div>
  *     <div class="grid__col  grid__col--6@medium">
  *          <div class="example">
  *              <div class="grid">
  *                 <div class="grid__col  grid__col--4"><div class="example  example--nest"></div></div>
  *                 <div class="grid__col  grid__col--8"><div class="example  example--nest"></div></div>
  *             </div>
  *          </div>
  *     </div>
  * </div>
  *
  * Styleguide 2.1.3
  */

/**
 * Responsive
 *
 * Markup:
 * <div class="grid">
 *     <div class="grid__col  grid__col--6@medium  grid__col--8@large  grid__col--middle@medium  grid__col--bottom@large"><div class="example"></div></div>
 *     <div class="grid__col  grid__col--6@medium  grid__col--4@large"><div class="example" style="height: 200px"></div></div>
 * </div>
 *
 * Styleguide 2.1.4
 */

 /**
  * Push & Pull
  *
  * Markup:
  * <div class="grid">
  *     <main class="grid__col  grid__col--8@medium  is-pushed-by-4@medium"><div class="example">Main Content</div></main>
  *     <aside class="grid__col  grid__col--4@medium  is-pulled-by-8@medium"><div class="example">Aside Content</div></aside>
  * </div>
  *
  * Styleguide 2.1.5
  */

//**
// * Settings
$rasterfari__cols: 12 !default; 
$rasterfari__gutter: 20px !default;
$rasterfari__namespace: '' !default;
$rasterfari__breakpoints: (
    'medium': '(min-width: 40em)',
    'large': '(min-width: 64em)'
) !default;



//**
// * Container
.#{$rasterfari__namespace}grid {
    margin-left: -$rasterfari__gutter;
    display: block;
    font-size: 0;

    &.has-no-gutter {
      margin-left: 0;
    }
}



//**
// * Items
.#{$rasterfari__namespace}grid__col {
    width: 100%;
    padding-left: $rasterfari__gutter;
    -webkit-box-sizing:border-box;
       -moz-box-sizing:border-box;
            box-sizing:border-box;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;

    .is-middle & {
        vertical-align: middle;
    }

    &.is-bottom {
        vertical-align: bottom;
    }

    &.has-no-gutter {
      padding-left: 0;
    }


    @for $i from 1 through $rasterfari__cols {
        &--#{$i} {
            width: $i / $rasterfari__cols * 100%;
        }
    }

    @each $breakpoint in $rasterfari__breakpoints {
        $name: nth($breakpoint, 1);
        $mq: nth($breakpoint, 2);

        @media only screen and #{$mq} {
            @for $i from 1 through $rasterfari__cols {
                &--#{$i}\@#{$name} {
                    width: $i / $rasterfari__cols * 100%;
                }
            }
        }
    }
}



//**
// * Push state
@for $i from 1 through $rasterfari__cols {
    .is-pushed-by-#{$i} {
        position: relative;
        left: $i / $rasterfari__cols * 100%;
    }
}

@each $breakpoint in $rasterfari__breakpoints {
    $name: nth($breakpoint, 1);
    $mq: nth($breakpoint, 2);

    @media only screen and #{$mq} {
        @for $i from 1 through $rasterfari__cols {
            .is-pushed-by-#{$i}\@#{$name} {
                position: relative;
                left: $i / $rasterfari__cols * 100%;
            }
        }
    }
}



//**
// * Pull state
@for $i from 1 through $rasterfari__cols {
    .is-pulled-by-#{$i} {
        position: relative;
        right: $i / $rasterfari__cols * 100%;
    }
}

@each $breakpoint in $rasterfari__breakpoints {
    $name: nth($breakpoint, 1);
    $mq: nth($breakpoint, 2);

    @media only screen and #{$mq} {
        @for $i from 1 through $rasterfari__cols {
            .is-pulled-by-#{$i}\@#{$name} {
                position: relative;
                right: $i / $rasterfari__cols * 100%;
            }
        }
    }
}
