/**
 * Wrapper
 *
 * .l-wrapper--full - Kein Padding
 *
 * <style>.l-wrapper {height: 400px; background: lightblue;}</style>
 *
 * Markup:
 * <section class="l-wrapper  {{modifier_class}}"></section>
 *
 * Styleguide 2.2
 */

.l-wrapper {
    max-width: $wrapper__max-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: $spacer;
    padding-right: $spacer;
    position: relative;

    &--full {
        padding-left: 0;
        padding-right: 0;
    }
}
