/**
 * Divide
 * 
 * 
 * Markup:
 * <div class="Divide">
 *     <div class="fluid">
 *         <img src="http://placehold.it/800x480&text=TeaserBild" class="fluid__image">
 *     </div>
 *     <div class="overlay">
 *         <div class="Divide__text">
 *             <h2 class="heading  heading--2  is-uppercase  h-fg--gray--light">Fancy Cam Mod</h2>
 *             <h3 class="heading  heading--sub  h-fg--gray--light">Werde zum Bildkomponist</h3>
 *             <p class="copy  h-fg--gray--light">Mit der Fancy Cam Mod kannst du ohne viel Equipment das perfekte Foto machen. <span class="Divide__text__optional">Steig jetzt mit ein!</span></p>
 *         </div>
 *     </div>
 * </div>
 * 
 * Styleguide 4.4
 */

.Divide {
    position: relative;
    text-align: center;
    transition: .2s;

    & h2, h3, p {
        margin: auto;
    }

    & h2 {
        font-weight: 200;
    }

    & h3 {
        margin: 5px 0 10px 0;
    } 

    & p {
        display: none;
        font-weight: 200;
    }

    &__text__optional {
        display: none;

        @include bp(large) {
            display: inline-block;
        }
    }

    @include bp(medium) {
        & .Divide__text {
            padding: 0 60px;
        }

        & p {
            display: block;
        }
    }

    @include bp(large) {
        & .Divide__text {
            margin: 50% 0 0 10%;
            padding: 0 0 0 0 !important;
            width: 80%;
            text-align: left;
        }
    }
}