/**
 * Footer
 * 
 * 
 * Markup:
 * <footer class="Footer  h-align--center  h-align--left@medium">
 *     <div class="grid">
 *         <div class="grid__col  h-sp--1  grid__col--4@medium  is-pushed-by-1@medium">
 *             <h4 class="heading  heading--footer">Kontakt</h4>
 *             <ul class="Footer__list">
 *                 <li class="copy  copy--meta"><a class="Footer__list__item" href="#">Fancy Mods GmbH</a></li>
 *                 <li class="copy  copy--meta"><a class="Footer__list__item" href="#">service@fancy-mods.com</a></li>
 *                 <li class="copy  copy--meta">Hotline:</li>
 *                 <li class="copy  copy--meta">(Mo-Fr | 10-18 Uhr)</li>
 *                 <li class="copy  copy--meta"><b>+49 7523 24256</b></li>
 *             <ul>
 *         </div>
 *         <div class="grid__col  h-sp--1  grid__col--3@medium">
 *             <h4 class="heading  heading--footer">Kundenservice</h4>
 *             <ul class="Footer__list">
 *                 <li class="copy  copy--meta"><a class="Footer__list__item" href="#">FAQ</a></li>
 *                 <li class="copy  copy--meta"><a class="Footer__list__item" href="#">Versand</a></li>
 *                 <li class="copy  copy--meta"><a class="Footer__list__item" href="#">AGB</a></li>
 *                 <li class="copy  copy--meta"><a class="Footer__list__item" href="#">Datenschutz</a></li>
 *                 <li class="copy  copy--meta"><a class="Footer__list__item" href="#">Impressum</a></li>
 *             <ul>
 *         </div>
 *         <div class="grid__col  h-sp--1  grid__col--2@medium">
 *             <h4 class="heading  heading--footer">Mods</h4>
 *             <ul class="Footer__list">
 *                 <li class="copy  copy--meta"><a class="Footer__list__item" href="product-detail.html">Foto</a></li>
 *                 <li class="copy  copy--meta"><a class="Footer__list__item" href="product-detail.html">Sound</a></li>
 *                 <li class="copy  copy--meta"><a class="Footer__list__item" href="product-detail.html">Video</a></li>
 *                 <li class="copy  copy--meta"><a class="Footer__list__item" href="product-detail.html">Akku</a></li>
 *             <ul>
 *         </div>
 *         <div class="grid__col  h-sp--1  grid__col--3@medium">
 *             <h4 class="heading  heading--footer">Bezahlung</h4>
 *             <ul class="Footer__list">
 *                 <li class="copy  copy--meta"><a class="Footer__list__item" href="checkout.html">PayPal</a></li>
 *                 <li class="copy  copy--meta"><a class="Footer__list__item" href="checkout.html">Vorkasse</a></li>
 *                 <li class="copy  copy--meta"><a class="Footer__list__item" href="checkout.html">Rechnung</a></li>
 *                 <li class="copy  copy--meta"><a class="Footer__list__item" href="checkout.html">Visa</a></li>
 *                 <li class="copy  copy--meta"><a class="Footer__list__item" href="checkout.html">Mastercard</a></li>
 *             <ul>
 *         </div>
 *         <a href="#"><img class="Footer__certificate" src="/media/trusted.png" /></a>
 *     </div>
 * </footer>
 * 
 * Styleguide 4.2
 */

.Footer {
    max-height: 1000px;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: color('gray','dark');
    color: color('gray','light');

    &__certificate {
        width: 60px;
        position: absolute;
        top: 30px;
        right: 0px;

        @include bp(large) {
            width: 95px;
            right: 5px;
        }
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;

        &__item {
            color: color('gray','light');
            text-decoration: none;
            transition: .3s;

            &:hover {
                color: color('red','regular');
            }
        }
    }
}