/**
 * Navigation
 * 
 * <style> .Nav{position: relative !important;}</style>
 * 
 * Markup:
 * <nav class="Nav">
 *     <a href="home.html"><img src="/media/logo.png" class="Nav__logo"></a>
 *     <ul class="Nav__list">
 *         <li class="Nav__list__item  Nav__list__item__trigger">
 *             <a href="home.html#WerBistDu">Entdecken</a>
 *             <a href="product-detail.html" class="Nav__list__item__collapse">Fotografie</a>
 *             <a href="product-detail.html" class="Nav__list__item__collapse">Musik</a>
 *             <a href="product-detail.html" class="Nav__list__item__collapse">Projektor</a>
 *             <a href="product-detail.html" class="Nav__list__item__collapse">Akku</a>
 *         </li>
 *         <li class="Nav__list__item"><a href="product-overview.html">Shop</a></li>
 *         <li class="Nav__list__item  is-active"><a href="konfigurator.html">Konfigurator</a></li>
 *     </ul>
 *     <ul class="Nav__icons">
 *         <li class="Nav__icons__element"><a href="#search"><img onmouseover="this.src='/media/search_active.png'" onmouseout="this.src='/media/search.png'" src="/media/search.png"></a></li>
 *         <li class="Nav__icons__element"><a href="#login"><img onmouseover="this.src='/media/login_active.png'" onmouseout="this.src='/media/login.png'" src="/media/login.png"></a></li>
 *         <li class="Nav__icons__element"><a href="checkout.html"><img onmouseover="this.src='/media/cart_active.png'" onmouseout="this.src='/media/cart.png'" src="/media/cart.png"></a></li>
 *     </ul>
 *     <div class="Nav__mobile">
 *         <input class="Nav__mobile__checkbox" type="checkbox" id="toggle-nav">
 *         <label class="Nav__mobile__label__open" for="toggle-nav"><img id="burgerButton" src="/media/burger.png"></label>
 *         <label class="Nav__mobile__label__close" for="toggle-nav"><img id="closeButton" src="/media/close.png"></label>
 *         <ul class="Nav__mobile__list">
 *             <li class="Nav__mobile__list__itemBig"><a href="home.html#WerBistDu">Entdecken</a></li>
 *             <hr class="Nav__mobile__list__seperator">
 *             <li class="Nav__mobile__list__itemSmall"><a href="product-detail.html">Fotografie</a></li>
 *             <li class="Nav__mobile__list__itemSmall"><a href="product-detail.html">Musik</a></li>
 *             <li class="Nav__mobile__list__itemSmall"><a href="product-detail.html">Projektor</a></li>
 *             <li class="Nav__mobile__list__itemSmall"><a href="product-detail.html">Akku</a></li>
 *             <hr class="Nav__mobile__list__seperator">
 *             <li class="Nav__mobile__list__itemBig"><a href="product-overview.html">Shop</a></li>
 *             <hr class="Nav__mobile__list__seperator">
 *             <li class="Nav__mobile__list__itemBig"><a href="konfigurator.html">Konfigurator</a></li>
 *         </ul>
 *     </div>
 * </nav>
 * 
 * Styleguide 4.1
 */

.Nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    box-shadow: 0px 3px 3px #909090;
    background-color: color('gray','light');
    z-index: 20;

    &__logo {
        height: 50px;
        margin: 5px 0 0 40%;
        transition: .3s;
        box-shadow: 0px 1px 3px #909090;

        &:hover {
            box-shadow: 0px 4px 5px #909090;
        }

        @include bp (medium) {
            margin: 5px 0 0 15px;
        }
    }

    &__list{
        margin-left: 20px;
        padding: 0;
        top: 10px;
        display: inline-block;
        position: absolute;
        list-style: none;
        transition: .3s;

        &__item {
            margin: 0 20px;
            height: 30px;
            display: none;
            border-bottom: 2px solid rgba(color('red','regular'),0.0);
            transition: .3s;

            &__trigger:hover > .Nav__list__item__collapse {
                opacity: 1;
                border: none;
            }
            &__trigger:hover > .Nav__list__item__collapse:nth-child(2) {
                margin-top: 10px;
            }
            &__trigger:hover > .Nav__list__item__collapse:nth-child(3) {
                margin-top: 50px;
            }
            &__trigger:hover > .Nav__list__item__collapse:nth-child(4) {
                margin-top: 90px;
            }
            &__trigger:hover > .Nav__list__item__collapse:nth-child(5) {
                margin-top: 130px;
            }

            &__collapse {
                margin-left: -10px;
                display: none;
            }

            @include bp(medium) {
                display: inline-block;

                &__collapse {
                    padding: 10px;
                    width: 140px;
                    display: block;
                    position: absolute;
                    background-color: color('gray','light');
                    text-align: left;
                    z-index: 6;
                    opacity: 0;
                    transition: .2s;
                    @include font-size (14); 

                    &:hover {
                        border: none;
                        background-color: color('red','dark');
                        color: color('gray','light');
                    }
                }

                &.is-active a {
                    color: color('gray','regular');
                    pointer-events: none;
                }
            }

            & a {
                color: color('red','regular');
                font-family: $font__secondary;
                text-transform: uppercase;
                text-decoration: none;
                @include font-size (18); 
                
                &:hover {
                    border-bottom: 2px solid rgba(color('red','regular'),1);
                }
            }
        }
    }

    &__icons {
        margin: 0;
        right: 10px;
        display: inline-block;
        position: absolute;
        list-style: none;

        &__element {
            margin-top: 10px;
            display: inline-block;

            & img {
                height: 40px;
                width: 40px;
            }
        }
    }

    &__mobile {
        pointer-events: none;

            &__label__open, &__label__close {
                position: absolute;
                left: 10px;
                top: 10px;
                pointer-events: auto;
            }

            &__label__open {
                display: inline-block;
            }

            &__label__close {
                display: none;
            }

            & img {
                width: 45px;
                cursor: pointer;
            }

            &__checkbox {
                position: absolute;
                left: -9999px;
            }

            &__checkbox:checked ~ .Nav__mobile__label__close {
                display: inline-block;
            }
            &__checkbox:checked ~ .Nav__mobile__label__open {
                display: none;
            }
            &__checkbox:checked ~ .Nav__mobile__list{
                pointer-events: auto;
                right: 0;

                &:first-child {
                    right: 50;
                }
            }

        &__list {
            margin: 0;
            padding: 0;
            position: relative;
            right: -1999px; 
            list-style: none;
            transition: .3s;
            pointer-events: none;
            z-index: 2;
            background-color: rgba(color('red','regular'), 1);

            &__seperator {
                margin: 0 10%;
                height: 2px;
                border: none;
                background-color: color('gray','light');
            }

            &__itemBig, &__itemSmall {
                background-color: rgba(color('red','regular'), 1);
                text-align: center;

                &.is-active a {
                    background-color: color('gray','regular');
                    pointer-events: none;
                }
                
                &:hover {
                     background-color: rgba(color('red','dark'), 1)
                }

                & a {
                    width: 100%;
                    display: block;
                    color: color('gray','light');
                    font-family: $font__secondary;
                    font-weight: 700;
                    text-transform: uppercase;
                    text-decoration: none;
                }
            }

            &__itemBig {
                height: calc((100vh - 62px)*.2);
                @include font-size(24);

                & a {
                    padding-top: calc(((100vh - 62px)/5) * .40);
                    height: calc((100vh - 60px)*.2);
                }
            }
            &__itemSmall {
                height: calc((100vh - 59px)*.1);
                @include font-size(20);

                & a {
                    z-index: 4;
                    padding-top: calc(((100vh - 62px)*.1) * .30);
                    height: calc((100vh - 62px)*.1);
                    color: color('gray','light');
                }
            }
        }

        @include bp(medium) {
            display: none;
        }
    }
}