/**
 * Teaser
 * 
 * 
 * Markup:
 * <div class="Teaser">
 *     <img src="http://placehold.it/800x480&text=TeaserBild" class="fluid">
 *     <h3 class="heading  heading--4  h-fg--red--regular">Fancy Mod</h3>
 *     <p class="copy  h-spb--1">Viel Spaß mit deiner Fancy Mod</p>
 *     <button class="btn">
 *         Mehr<span class="btn__boldText">Erfahren</span>
 *     </button>
 * </div>
 * 
 * Styleguide 4.3
 */

.Teaser {
    text-align: center;
    padding: 0 10px;

    @include bp(large) {
        padding: 0 25px;
    }

    & .btn {
        margin: auto;
    }
}