<meta charset="utf-8">
<title></title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script>{{>global.head.scripts}}</script>

{{#if usemin}}
<link rel="stylesheet" href="css/main.min.css?v={{version}}">
{{else}}
<link rel="stylesheet" href="css/main.css">
{{/if}}

<!--[if lte IE 8]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js"></script><script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script><![endif]-->

<!--link href="media/favicon.ico?v=140515" rel="icon"-->
