/**
 * Button
 *
 *
 * Markup:
 * <button class="btn">
 *     Mehr<span class="btn__boldText">Infos</span>
 * </button>
 * <a href="#0" class="btn">
 *     Mehr<span class="btn__boldText">Infos</span>
 * </a>
 *
 * Styleguide 3.5
 */

 .btn {
     margin: auto;
     padding: 12px 15px;
     display: block;
     border: 2px solid color('red','regular');
     color: color('red','regular');
     background: transparent;
     outline: none;
     font-family: $font__primary;
     text-decoration: none;
     text-align: center;
     font-style: normal;
     @include font-size(18);
     transition: .3s;
     box-shadow: 0px 2px 2px #909090;

     &__boldText {
         font-weight: 700;
     }

     &:hover {
        box-shadow: 2px 5px 5px #909090;
         color: color('gray','light');
         background-color: color('red','regular');
         cursor: pointer;
     }
 }