/**
 * Checker
 * 
 * Markup:
 * <div class="checker">
 *     <label class="checker__label" for="toggle-2">Filter</label>
 *     <div class="checker__arrow"></div>
 *     <input class="checker__checkbox" type="checkbox" id="toggle-2">
 *     <div class="checker__content">
 *         <p>This content will be toggled on mobile and is visible at medium and above</p>
 *     </div>
 * </div>
 *
 * Styleguide 3.13
 */

.checker {
    margin-left: 20px;

    &__arrow{
        margin-left: 5px;
        height: 15px;
        width: 20px;
        display: inline-block;
        background-image: url("../media/arrow_up.svg");
    } 

    &__label {
        margin-bottom: 20px;
        display: inline-block;
        font-family: $font__secondary;
        @include font-size (22);
    }

    &__checkbox {
        position: absolute;
        left: -9999px;

        &:checked ~ .checker__content {
            display: block;
        }
        &:checked ~ .checker__arrow {
            background-image: url("../media/arrow_down.svg") !important;
        }

    }

    &__label, &__checkbox, &__arrow  {
        @include bp(medium) {
            display: none;
        }
    }

    &__content{
        display: none;

        @include bp(medium) {
            display: block;
        }
    } 

}