/**
 * Copy
 *
 * .copy--meta - Metadaten (14px)
 * .is-uppercase - Uppercase
 * .is-bold - Bold
 *
 * Markup:
 * <div class="copy  {{modifier_class}}">
 *     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iste. Cum fugiat sequi nulla error, ipsum ipsam sed, iste ab <a href="">modi rem harum nam</a> quas vitae culpa explicabo, distinctio obcaecati voluptatem debitis asperiores eaque!</p>
 *     <p>Corrupti omnis <b>dolores aliquid deleniti</b>, perferendis perspiciatis <i>voluptates corporis ut</i>, temporibus, incidunt quo consequatur?</p>
 *     <ul>
 *         <li>Corrupti omnis dolores</li>
 *         <li>consectetur adipisicing elit</li>
 *         <li>voluptatem debitis asperiores</li>
 *     </ul>
 *     <ol>
 *         <li>Corrupti omnis dolores</li>
 *         <li>consectetur adipisicing elit</li>
 *         <li>voluptatem debitis asperiores</li>
 *     </ol>
 *     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur ad, culpa dicta asperiores ipsa ullam non? Repellat a accusamus quibusdam impedit excepturi, aspernatur, assumenda ducimus reiciendis qui soluta repellendus tempore.</p>
 * </div>
 *
 * Styleguide 3.3
 */

.copy {
    padding: 0;
    margin: 0;
    line-height: 1.375;
    @include font-size(18);

    a:not([class]) {
        color: currentColor;
        text-decoration: underline;
        transition: .2s;

        &:hover {
            text-decoration: none;
            color: green;
        }
    }

    &--condensed {
        line-height: 1;
    }

    &--meta {
        @include font-size(14);
        line-height: 1.6;
        letter-spacing: 1.23;
    }

    &--small {
        @include font-size(12);
        line-height: 1.375;
        letter-spacing: 1.23;
    }

    &.is-uppercase {
        text-transform: uppercase;
    }

    &.is-bold {
        font-weight: 700;
    }

    &__input {
        color: color('gray','regular');
        text-transform: uppercase;
        @include font-size(14);
    }
}
