/**
 * Dropdown
 * 
 * Markup:
 * <select class="drop" name="country">
 *     <option class="drop__item" value="">Land auswählen</option>
 *     <option class="drop__item" value="DEU">Deutschland</option>
 *     <option class="drop__item" value="AUT">Österreich</option>
 *     <option class="drop__item" value="CH">Schweiz</option>
 * </select>
 * 
 * Styleguide 3.9
 */

 .drop {
     padding-bottom: 4px;
     margin-top: 25px;
     width: 100%;
     -webkit-appearance: none;
     border: none;
     border-radius: 0;
     border-bottom: 1px solid color('gray','regular');;
     font-family: $font__primary;
     background-image: url(/media/arrow.svg);
     background-position: right;
     background-repeat: no-repeat;
     background-color: transparent;
     color: color('gray','regular');
     outline: none;
     text-transform: uppercase;
     @include font-size(14);

 }