/**
 * Fluid Image
 * 
 * Markup:
 * <div class="fluid">
 *     <img src="http://placehold.it/1280x720?text=Responsive Image" class="fluid__image">
 * </div>
 * 
 * Styleguide 3.8
 */

.fluid {
    position:relative;
    width:100%;

    &__image {
        width:100%;
        vertical-align:top;
    }

    &.disable-overlay {
        &:after {
            content: none;
        }
    }

    // &:after {
    //     content:'\A';
    //     position:absolute;
    //     width:100%; height:100%;
    //     top:0; left:0;
    //     background:rgba(color('red','regular'),.2);
    //     opacity:0;
    //     transition: .2s;
    //     z-index: 5;
    // }

    // &:hover:after{
    //     opacity:1;

    //     & .overlay {
    //         opacity: 0;
    //     }              
    // }
}
