/**
* Heading
*
* Styleguide 3.4
*/

.heading {
    margin: 0;
    padding: 0;
    font-family: $font__secondary;

    &.is-uppercase {
        text-transform: uppercase;
    }
}

/**
* Heading 1
*
* Schriftgöße 44px
* 
* Markup:
* <h1 class="heading  heading--1">Lorem ipsum dolor sit amet.</h1>
* <h2 class="heading  heading--1">Lorem ipsum dolor sit amet.</h2>
* <h3 class="heading  heading--1">Lorem ipsum dolor sit amet.</h3>
* <div class="heading  heading--1">Lorem ipsum dolor sit amet.</div>
* <p class="heading  heading--1">Lorem ipsum dolor sit amet.</p>
* 
* Styleguide 3.4.1
*/
.heading--1 {
    @include font-size (44);
    line-height: 1;

    /*@include bp(medium){
        @include font-size (38);
        line-height: 1.11;
    }*/
}

/**
* Heading 2
*
* Schriftgröße 36
* 
* Markup:
* <h1 class="heading  heading--2">Lorem ipsum dolor sit amet, consectetur.</h1>
* <h2 class="heading  heading--2">Lorem ipsum dolor sit amet, consectetur.</h2>
* <h3 class="heading  heading--2">Lorem ipsum dolor sit amet, consectetur.</h3>
* <div class="heading  heading--2">Lorem ipsum dolor sit amet, consectetur.</div>
* <p class="heading  heading--2">Lorem ipsum dolor sit amet, consectetur.</p>
* 
* Styleguide 3.4.2
*/
.heading--2 { 
    @include font-size (36);
    line-height: 1.25;

    /*@include bp(medium){
        @include font-size (30);
        line-height: 1.33;
    }*/
}

/**
* Heading 3
*
* Schriftgröße 28px
*
* Markup:
* <h1 class="heading  heading--3">Lorem ipsum dolor sit amet, consectetur.</h1>
* <h2 class="heading  heading--3">Lorem ipsum dolor sit amet, consectetur.</h2>
* <h3 class="heading  heading--3">Lorem ipsum dolor sit amet, consectetur.</h3>
* <div class="heading  heading--3">Lorem ipsum dolor sit amet, consectetur.</div>
* <p class="heading  heading--3">Lorem ipsum dolor sit amet, consectetur.</p>
* 
* Styleguide 3.4.3
*/
.heading--3 {
    @include font-size (28);
    line-height: 1.43;

    &.has-spacer {
        margin-bottom: 8px;
    }
}

/**
* Heading 4
*
* Schriftgröße 24px
*
* Markup:
* <h1 class="heading  heading--4">Lorem ipsum dolor sit amet, consectetur.</h1>
* <h2 class="heading  heading--4">Lorem ipsum dolor sit amet, consectetur.</h2>
* <h3 class="heading  heading--4">Lorem ipsum dolor sit amet, consectetur.</h3>
* <div class="heading  heading--4">Lorem ipsum dolor sit amet, consectetur.</div>
* <p class="heading  heading--4">Lorem ipsum dolor sit amet, consectetur.</p>
* 
* Styleguide 3.4.4
*/
.heading--4 {
    @include font-size (22);
    line-height: 1.21;
}

/**
* Heading Sub
*
* Schriftgröße 24px
*
* Markup:
* <h1 class="heading  heading--sub">Lorem ipsum dolor sit amet, consectetur.</h1>
* <h2 class="heading  heading--sub">Lorem ipsum dolor sit amet, consectetur.</h2>
* <h3 class="heading  heading--sub">Lorem ipsum dolor sit amet, consectetur.</h3>
* <div class="heading  heading--sub">Lorem ipsum dolor sit amet, consectetur.</div>
* <p class="heading  heading--sub">Lorem ipsum dolor sit amet, consectetur.</p>
* 
* Styleguide 3.4.5
*/
.heading--sub {
    font-weight: 200;
    text-transform: none;
    font-family: $font__primary;
    @include font-size (22);
    line-height: 1.4;

    &.has-spacer {
        margin-bottom: 4px;
    }
}

/**
* Heading Footer
*
* Schriftgröße 20px
*
* Markup:
* <h1 class="heading  heading--footer">Lorem ipsum dolor sit amet, consectetur.</h1>
* <h2 class="heading  heading--footer">Lorem ipsum dolor sit amet, consectetur.</h2>
* <h3 class="heading  heading--footer">Lorem ipsum dolor sit amet, consectetur.</h3>
* <div class="heading  heading--footer">Lorem ipsum dolor sit amet, consectetur.</div>
* <p class="heading  heading--footer">Lorem ipsum dolor sit amet, consectetur.</p>
* 
* Styleguide 3.4.6
*/
.heading--footer {
    font-weight: 200;
    text-transform: none;
    font-family: $font__secondary;
    @include font-size (20);
    margin-bottom: 5px;

    @include bp(medium) {
         @include font-size (16);
    }
}