/**
 * Input Field
 * 
 * Bei Verwendung des Floating Label bitte die Klasse ```.is-focused``` an das Label vergeben!
 *
 * Markup:
 * <div class="inputfield">
 *     <label for="f01" class="inputfield__label  is-focused" data-placeholder="f01">Name</label>
 *     <input type="text" class="inputfield__field" id="f01">
 * </div> 
 * <div class="inputfield">
 *     <label for="f02" class="inputfield__label  is-focused" data-placeholder="f02">E-Mail</label>
 *     <input type="email" class="inputfield__field" id="f02">
 * </div>
 *
 * Styleguide 3.6
 */

.inputfield {
    width: 100%;
    position: relative;
    font-weight: 400;
    color: color('gray','regular');

    &__field {
        width: 100%;
        padding-bottom: 4px;
        padding-top: 25px;
        display: block;
        border: none;
        border-bottom: 1px solid currentColor;
        outline: none;
        background-color: transparent;
        @include font-size(16);
        color: currentColor;
    }

    &__label {
        position: absolute;
        left: 0px;
        top: 25px;
        @include font-size(14);
        text-transform: uppercase;
        transition: .1s;

        &.is-focused {
            top: 10px;
            @include font-size(12);
        }
    }
}
