/**
 * Overlay
 * 
 * Markup:
 * <div class="overlay"></div>
 *
 * Styleguide 3.10
 */

.overlay {
    padding: 10px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    text-align: center;
    background-color: rgba(color('gray', 'regular'),.6);
    transition: all .5s;

    @include bp(medium) {
        padding: 5px 25px;
        height: 155px;
    }

    @include bp(large) {
        padding: 40px;
        top: 0;
        height: 100%;
        width: 45%;
    }
}