/**
 * Poster
 * 
 * Markup:
 * <div class="poster  js-poster" style="height: 400px">
 *     <picture class="poster__img">
 *         <source srcset="http://placehold.it/1280x400&text=Large%20Screens" media="(min-width: 64em)">
 *         <source srcset="http://placehold.it/800x400&text=Medium%20Screens" media="(min-width: 40em)">
 *         <img srcset="http://placehold.it/320x400&text=Default%20Image" alt="">
 *     </picture>
 *     <div class="poster__content  h-fg--red--regular">
 *         <h2 class="heading  heading--2">Lorem ipsum</h2>
 *         <h3 class="heading  heading--3">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
 *     </div>
 * </div>
 *
 * Styleguide 3.2
 */


.poster {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 60px);
    overflow-y: hidden;

    &__img {
        @extend %h-vh;
        height: 0;
    }

    &__content {
        top: 10%;
        right: 2%;
        width: 300px;
        position: absolute;
        z-index: $zi__poster__content;
        @include bp(medium) {
            top: 30%;
            right: 10%;
        }

    }
}
