/**
 * Product
 * 
 * Markup:
 * <div class="product">
 *     <div class="fluid">
 *         <img src="http://placehold.it/1280x720?text=Responsive Image" class="fluid__image">
 *     </div>
 *     <h3 class="heading  heading--4">Fancy Mod Nummer 1</h3>
 *     <p class="product__features">24 Megapixel<br>160 Grad Weitwinkel</p>
 *     <p class="product__price">119,99 €</p>
 *     <a class="btn" href="#">
 *         Mehr<span class="btn__boldText">Erfahren</span>
 *     </a>
 * </div>
 *
 * Styleguide 3.12
 */

.product {
    padding: 20px;
    border: none;
    width: 100%;
    transition: .2s ease-in-out;
    border: 2px solid rgba(red,.0);

    @include bp(medium) {
        padding: 5px;
        margin-bottom: -100px;

        & .btn {
            opacity: 0;
            transition: .2s ease-in-out;
            pointer-events: none;
        }

        &__features {
            opacity: 0;
            pointer-events: none;
            transition: .1s ease-in-out;
            transition-delay: .1s;
        }

        &__price {
            position: relative;
            top: -50px;
            transition: .1s ease-in-out;
            transition-delay: .1s;
        }

        &:hover {
            border: 2px solid rgba(red,.4);
            margin-bottom: 10px;
        }

        &:hover .product__features {
            pointer-events: auto;
            opacity: 1;
            pointer-events: none;
        } 

        &:hover .product__price {
            top: -10px;
        } 

        &:hover .btn {
            opacity: 1;
            pointer-events: auto;
        } 
    }

    @include bp(large) {
        padding: 20px;
    }

    & .heading {
        color: color('red','regular');
    }

    &__features, &__price {
        font-family: $font__primary;
        color: rgba(color('gray','medium'),.9);
        @include font-size(16);
    }

}