/**
 * Section
 * 
 * Markup:
 * <div class="section">
 *     <img src="http://placehold.it/50x50">
 *     <p class="section__text">Kontaktdaten</p>
 * </div>
 *
 * Styleguide 3.11
 */

.section {
    padding: 15px 0 1px 0;
    display: block;
    text-align: center;
    background-color: rgba(color('gray','regular'),.45);

    &__text {
        color: color('gray','dark');
        font-family: $font__primary;
    }
    & img {
        height: 60px;
        width: 60px;
    }
}