/**
 * Toggle
 * 
 * Markup:
 * <div class="toggle">
 *     <label class="toggle__label" for="toggle-1">
 *         <div class="media  is-condensed">
 *             <div class="media__image">
 *                 <img src="/media/check.png" alt="">
 *             </div>
 *             <div class="media__text  copy">I'm a toggle</div>
 *         </div>
 *     </label>
 *     <input class="toggle__checkbox" type="checkbox" id="toggle-1">
 *     <div class="toggle__container">
 *         <ul class="toggle__container__list">
 *             <li class="toggle__container__list__item">
 *                 <div class="copy  h-fg--gray--medium"><span class="toggle__container__list__item__text">Auslöserfarbe</span><img src="http://placehold.it/50x50" alt=""></div>
 *             </li>
 *             <li class="toggle__container__list__item">
 *                 <div class="copy  h-fg--gray--medium"><span class="toggle__container__list__item__text">Auslöserfarbe</span><img src="http://placehold.it/50x50" alt=""></div>
 *             </li>
 *             <li class="toggle__container__list__item">
 *                 <div class="copy  h-fg--gray--medium"><span class="toggle__container__list__item__text">Auslöserfarbe</span><img src="http://placehold.it/50x50" alt=""></div>
 *             </li>
 *         </ul>
 *     </div>
 * </div>
 * 
 * Styleguide 3.7
 */

.toggle{
    width: 100%;
    border-bottom: 2px solid color('red','regular');

    &__checkbox {
        position: absolute;
        left: -9999px;
    }

    &__label { 
        margin-bottom: 0 !important;
        font-family: $font__secondary;
        color: color('red','regular');
        display: inline-block;
        margin: 10px 0 10px 0;
        cursor: pointer;
    }

    &__container {
        width: 90%;
        color: color('gray','medium');
        text-align: center;
        transition: .4s;
        position: absolute;
        opacity: 0;
        pointer-events: none;

        &__list {
            padding: 0;
            list-style: none;

            &__item {
                margin-bottom: 10px;
                height: 55px;
                vertical-align: middle;
                position: relative;

                &__text, & img {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                }

                & img {
                    left: 170px;
                }

                &__text {
                    left: 40px;
                }
            }
        }
    }

    &__checkbox:checked {
        margin-bottom: 100px;
        & ~ div {
            right: 0;
            opacity: 1;
            position: relative;
        }
    } 
    
    & .media__image img {
        height: 40px;
    }
}